.cliente-list .width-300 {
    width: 300px;
  }
  
  .cliente-list .new-cliente {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .cliente-list .fallback-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .cliente-list .image-container {
    display: flex;
    justify-content: center;
  }
  
  .cliente-list .cliente-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .cliente-list .button-container {
    margin: 1rem 0;
  }
  
  .cliente-list .cursor-pointer {
    cursor: pointer;
  }